<div class="row">
  <div class="card col-md-7 blue" style="width: 18rem;" [ngClass]="{'green': isRightAnswer}" *ngIf="!finished">
    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
    <div class="card-body" *ngIf="!showSolution">
      <h5 class="card-title" *ngIf="currentQuestion">{{currentQuestion.title}}</h5>
      <p class="card-text"></p>
      <i class="pi-chevron-left"></i>
      <i class="pi pi-times" *ngIf="currentQuestion" [innerHTML]="currentQuestion.question"></i>
      <i class="pi pi-times" *ngIf="currentQuestion" [innerHTML]="currentQuestion.subText"></i>
      <div>
        <button (click)="previous()" class="btn btn-primary" *ngIf="!isRightAnswer"
          [disabled]="isFirstQuestion">Prev</button>
        <button (click)="next()" class="btn btn-primary" *ngIf="!isLastQuestion"
          [disabled]="isLastQuestion">Next</button>
        <button (click)="finish()" class="btn btn-primary" *ngIf="isLastQuestion">Finish</button>
      </div>
    </div>
    <div *ngIf="!finished && showSolution">
      <div>
        <ngx-codemirror [(ngModel)]="solution" [options]="codeMirrorOptions">
        </ngx-codemirror>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div *ngIf="!finished">
      <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
        <div>
          <!-- <textarea id="yaml" (keyup)="onSubmit(checkoutForm.value)" type=" textarea" formControlName="yaml"
            *ngIf="currentQuestion" value="{{stage}}"></textarea> -->
          <ngx-codemirror formControlName="yaml" [options]="codeMirrorOptions" value="stage"
            (keyup)="onSubmit(checkoutForm.value)">
            {{stage}}</ngx-codemirror>
        </div>
      </form>

    </div>
  </div>

</div>
<div class="button-section">
  <div class="showhide-button">
    <button *ngIf="!finished && !showSolution && !isRightAnswer" (click)="toggleSolution(true)"
      class="btn btn-primary show-button">Show
      Solution</button>
    <button *ngIf="!finished && showSolution && !isRightAnswer" (click)="toggleSolution(false)"
      class="btn btn-primary">Hide
      Solution</button>
  </div>
  <div class="reset-button">
    <button *ngIf="!finished && !isRightAnswer" (click)="resetAnswer()" class="btn btn-primary button-reset ">Reset
      Answer</button>
  </div>

</div>
<div *ngIf="finished">
  <div class="">
    <div class="card col-md-7 green finished_div">
      <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
      <div class="card-body">
        <h5 class="card-title">Quiz Finished</h5>
        <p class="card-text">Number of Right Answers {{correctAnswerCount}}</p>
        <i class="pi-chevron-left">Out of {{totalQuestions}} questions</i>
      </div>
    </div>
  </div>
</div>